<div class="wrapper fadeInDown">
    <div id="formContent">
      
      
      <!-- Login Form -->
      <form>
        <input [(ngModel)]="username" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input [(ngModel)]="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" (click)="checklogin(username , password)" class="fadeIn fourth" value="Log In">
      </form>

         <div >
        <span  class="alert alert-danger" [hidden]= "showSpan" >Incorrect Username or Password</span>
        </div >
  
      
    </div>
  </div>